# Project specific files
soda
soda_32
soda_64
*.out
*.in

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Mac files
.DS_Store